CompileFlags:
  Compiler: /usr/local/cuda-12.8/bin/nvcc
  Add:
    - -I/absolute/nvidia/cutlass/include
    - -I/absolute/nvidia/cutlass/tools/util/include
    - -I/absolute/nvidia/cutlass/examples/common
    - --cuda-path=/usr/local/cuda-12.8
    - --cuda-gpu-arch=sm_86
    - -I/usr/local/cuda-12.8/include
    - "-xcuda"
    # report all errors
    - "-ferror-limit=0"
    - --cuda-gpu-arch=sm_86
    - --std=c++17
    - "-D__INTELLISENSE__"
    - "-D__CLANGD__"
    - "-DCUDA_12_0_SM86_FEATURES_SUPPORTED"
    - "-DCUTLASS_ARCH_MMA_SM86_SUPPORTED=1"
    - "-D_LIBCUDACXX_STD_VER=12"
    - "-D__CUDACC_VER_MAJOR__=12"
    - "-D__CUDACC_VER_MINOR__=8"
    - "-D__CUDA_ARCH__=860"
    - "-D__CUDA_ARCH_FEAT_SM86_ALL"
    - "-Wno-invalid-constexpr"
  Remove:
    - "--options-file*"
    - "-Xcompiler=-fPIE"
    - "-Xcompiler=-Wconversion"
    - "-Xcompiler=-fno-strict-aliasing"
    # strip CUDA fatbin args
    - "-Xfatbin*"
    # strip CUDA arch flags
    - "-gencode*"
    - "--generate-code*"
    # strip CUDA flags unknown to clang
    - "-ccbin*"
    - "--compiler-options*"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"
Hover:
  ShowAKA: No
InlayHints:
  Enabled: No
Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"

