CompileFlags:
  Add:
    - -I/absolute/nvidia/cutlass/include
    - -I/absolute/nvidia/cutlass/tools/util/include
    - -I/absolute/nvidia/cutlass/examples/common
  Remove:
    - "--options-file*"
    - "-Xcompiler=-fPIE"
    - "-Xcompiler=-Wconversion"
    - "-Xcompiler=-fno-strict-aliasing"

